body{
    background-color:#eedaca;
}
.header {
  display: flow-root; 
  background-color: #e77039;
  margin-left: 30px;
  padding-left: 30px;
 
}
.text {
    background-color: #ee6d4d;
}
.abc{
  
  display: flow-root; 
  background-color: #4025d1;
}
a:link{
  color:blue;
}
a:visited{
  color:crimson
}